Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.development.local
.next
.git
.gitignore
.eslintrc.json
.eslintrc.js
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.toml
.prettierrc.yaml
.prettierrc.yml
.vscode
.idea
*.log
.DS_Store
Thumbs.db
out
dist
build
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
